[Desktop Entry]
Version=1.0
Name=Cashregister
Comment=Barcode Sales System
Path=./Sales
Exec=/bin/bash sales.sh
Terminal=false
Icon=register
Type=Application
Categories=Application;
